.container {
  width: 100%;
  margin-inline: auto;
  margin-block: 0.5rem;
  padding-inline: 24px;

  @media (min-width: 1024px) {
    padding-inline: 50px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
    padding-inline: 0;
  }
}

.container-fluid {
  width: 100%;
  margin-inline: auto;
  margin-block: 0.5rem;
  padding-inline: 24px;

  @media (min-width: 1024px) {
    padding-inline: 50px;
  }

  @media (min-width: 1280px) {
    padding-inline: 74;
  }
}

/* margin sizing */
.my-1 {
  margin-block: 1rem;
}
.my-2 {
  margin-block: 1.25rem;
}
.my-3 {
  margin-block: 1.5rem;
}
.my-4 {
  margin-block: 1.75rem !important;
}
.my-5 {
  margin-block: 2rem;
}
.my-6 {
  margin-block: 2.25rem;
}
.my-7 {
  margin-block: 2.5rem;
}
.my-8 {
  margin-block: 2.75rem;
}
.my-9 {
  margin-block: 3rem;
}

.mb-5 {
  margin-bottom: 2.5rem !important;
}

.mt-1 {
  margin-top: 1rem;
}

/* text decoration */
.text-decoration-underline {
  text-decoration: underline;
}
.text-decoration-none {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  display: block;
}

a {
  color: inherit;
  &:hover {
    color: hsl(213, 100%, 25%);
  }
}

.grid {
  display: grid;
  align-items: center;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}

.m-left-auto {
  margin-left: auto;
}
.m-right-auto {
  margin-right: auto;
}
.m-top-auto {
  margin-top: auto;
}

.gap-1 {
  gap: 1rem;
}
.gap-1\:1 {
  gap: 1.25rem;
}
.gap-1\:2 {
  gap: 1.5rem;
}
.gap-1\:3 {
  gap: 1.75rem;
}

.gap-2 {
  gap: 2rem;
}

.d-none {
  display: none;
}
